/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2022, 12:00:34 PM
    Author     : dinht
*/

#notification_container {
    background-color: white;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 50px;
    margin-left: -170px;
    width: 400px;
    z-index: 1000;
    display: none;
}

#notification_container:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    /*color: transparent;*/
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notification_title {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}

#notification_body {
    padding: 35px 0 0 0 !important;
    min-height: 340px;
    display: block;
    text-align: center;
    text-decoration: none;
    color:black;
}

#notification_body a:hover{
    color: gray;
}

#notification_footer {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 15px;
}



/*noti popup không xài được thì xài dưới này*/

